@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'RobotoMono';
  src: url("assets/fonts/RobotoMono-VariableFont_wght.ttf");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  color: #48342C;
}

.header {
  background-color: #984787;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
}
}

.nav-link {
  position: relative;
  padding: 0 12px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;  
  transition: color 0.5s;
}

.nav-link:hover {
  color: #EACFBF;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #48342C;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #EACFBF
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #984787;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #48342C;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 2px;
  background-color: #984787;
}

.section-subtitle {
  margin-top: 20px;
  color: #48342C;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.link {
  text-decoration: none;
  color: #984787;
  transition: color 0.5s;
}

.link:hover {
  color: #48342C;
}

.photo {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}

.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  background-image: url(assets/svg/6.svg);
}

.section-item span {
  color: #984787;
}

.contacts-item::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-item:nth-child(1):before {
  background-image: url(assets/svg/1.svg);
}

.contacts-item:nth-child(2):before {
  background-image: url(assets/svg/2.svg);
}

.contacts-item:nth-child(3):before {
  background-image: url(assets/svg/3.svg);
}

.contacts-item:nth-child(4):before {
  background-image: url(assets/svg/4.svg);
}

.contacts-item:nth-child(5):before {
  background-image: url(assets/svg/5.svg);
}

.pre {
  padding: 0;
  margin: 0;
}

code {
  font-family: 'RobotoMono', monospace;
}

.section-education, .section-english {
  border-bottom: 0;
}

.footer {
  background-color: #984787;;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url(./assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}